.hamburger-menu {
  position: absolute;
  top: 10px;
  left: 120px;
  z-index: 1000; /* マップの上に表示するためにz-indexを設定 */
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50px;
  height: 45px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.hamburger-icon .bar {
  width: 100%;
  height: 5px;
  background-color: #f8f8f8;
  transition: all 0.3s;
}

.menu {
  display: none;
  position: absolute;
  top: 0;
  left: 55px;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1001; /* ハンバーガーメニューの上に表示するためにz-indexを設定 */
  width: 200px;
  border-radius: 5px;
}

.menu.open {
  display: block;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 12px 10px;
}

.menu li button {
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

.menu li button:hover {
  background-color: #f1f1f1;
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
  .hamburger-icon {
    width: 25px;
    height: 25px;
  }

  .hamburger-icon .bar {
    height: 2px;
  }

  .menu li {
    padding: 10px 14px;
  }

  .menu li button {
    font-size: 14px;
  }
}