/* HTMLとBODYの要素に対して全体の幅と高さを100%に設定 */
html,
body {
  width: 100%;
  /* ビューポート全体の幅を占める */
  height: 100%;
  /* ビューポート全体の高さを占める */
  margin: 0;
  /* デフォルトのマージンをリセット */
  padding: 0;
  /* デフォルトのパディングをリセット */
}
