/* UserGuideのスタイル */
.userguide-container {
  display: flex;
  flex-direction: column;
}

.tour-button {
  padding: 5px 10px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.tour-button:hover {
  background-color: #0056b3;
}