/* UserGuideのスタイル */
.userguide-container {
  display: flex;
  flex-direction: column;
}

.common-button {
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.common-button:hover {
  background-color: #0056b3;
}

/* Joyrideのスタイルをオーバーライド */
.react-joyride__overlay {
  display: none !important; /* オーバーレイを非表示にする */
}

.joyride-tooltip {
  margin-bottom: 0 !important; /* ツールチップのマージンを削除 */
  padding-bottom: 0 !important; /* ツールチップのパディングを削除 */
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
  .common-button {
    padding: 8px 12px;
    font-size: 14px;
  }
}