/* InfoWindowのスタイル */
.info-window {
  font-family: 'Roboto', sans-serif;
  max-width: 250px;
  position: absolute;
  left: 10px;
  top: 350px;
  max-height: 500px; /* 高さを制限 */
  overflow-y: auto; /* 縦方向のスクロールを有効にする */
}

.info-header {
  background-color: #f8f8f8;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.info-header h2 {
  margin: 0;
  font-size: 18px;
}

.info-section {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.info-section:last-child {
  border-bottom: none;
}

.info-business-hours,
.info-basic,
.info-related {
  margin-bottom: 10px;
}

.info-business-hour,
.info-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.info-label {
  font-weight: bold;
}

.info-link {
  color: #007bff;
  text-decoration: none;
}

.info-link:hover {
  text-decoration: underline;
}

.info-button {
  display: block;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
}

.info-button:hover {
  background-color: #0056b3;
}

/* 横並びにするためのスタイル */
.info-horizontal {
  display: flex;
  flex-wrap: wrap;
}

.info-horizontal .info-section {
  flex: 1 1 45%; /* 各セクションを45%の幅で表示 */
}

/* URL表示やエリア表示のスタイル */
.info-section p,
.info-section a {
  white-space: nowrap; /* テキストを1行にする */
  overflow: hidden; /* はみ出した部分を隠す */
  text-overflow: ellipsis; /* 省略記号を表示 */
  max-width: 200px; /* 必要に応じて最大幅を設定 */
}
