/* InfoWindowのスタイル */
.info-window {
  font-family: 'Roboto', sans-serif;
  max-width: 250px;
  position: absolute;
  left: 10px;
  top: 350px;
  max-height: 500px;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.info-header {
  background-color: #f8f8f8;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-header h2 {
  margin: 0;
  font-size: 18px;
}

.modal-close-button {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #333;
  transition: color 0.3s ease;
}

.modal-close-button:hover {
  color: #007bff;
}

.info-section {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.info-section:last-child {
  border-bottom: none;
}

.info-business-hours,
.info-basic,
.info-related {
  margin-bottom: 10px;
}

.info-business-hour,
.info-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.info-label {
  font-weight: bold;
}

.info-link {
  color: #007bff;
  text-decoration: none;
}

.info-link:hover {
  text-decoration: underline;
}

.info-button {
  display: block;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.info-button:hover {
  background-color: #0056b3;
}

/* 横並びにするためのスタイル */
.info-horizontal {
  display: flex;
  flex-wrap: wrap;
}

.info-horizontal .info-section {
  flex: 1 1 45%;
}

/* URL表示やエリア表示のスタイル */
.info-section p,
.info-section a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
  .info-window {
    max-width: 200px;
    top: 300px;
  }

  .info-header h2 {
    font-size: 16px;
  }

  .info-section {
    padding: 8px;
  }
}