/* InfoWindowの全体スタイル */
.infoWindow {
  font-family: 'Roboto', sans-serif;
  max-width: 300px;
  position: absolute;
  left: 10px;
  bottom: 50px;
  background-color: var(--bg-color);
  border-radius: 8px;
  box-shadow: 0 4px 12px var(--color-shadow);
  overflow: hidden;
  z-index: 1002;
  display: block;
}

/* InfoWindowのコンテンツ部分のスタイル */
.infoContent {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* InfoWindowのヘッダー部分のスタイル */
.infoHeader {
  background-color: #f8f8f8;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ヘッダーのタイトルのスタイル */
.info-header h2 {
  margin: 0;
  font-size: 18px;
}

/* 閉じるボタンのスタイル */
.modal-close-button {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #333;
  transition: color 0.3s ease;
}

/* 閉じるボタンのホバー時のスタイル */
.modal-close-button:hover {
  color: #555;
}

/* InfoWindowのセクション部分のスタイル */
.info-section {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* InfoWindowのリストのスタイル */
.info-section ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

/* InfoWindowのリストアイテムのスタイル */
.info-section li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

/* 最後のリストアイテムのボーダーをなしに設定 */
.info-section li:last-child {
  border-bottom: none;
}

/* リストアイテムのキー部分のスタイル */
.info-section li .day {
  font-weight: bold;
}

/* リストアイテムの値部分のスタイル */
.info-section li .value {
  font-weight: normal;
}

/* リンクのスタイル */
.info-link {
  color: #007bff;
  text-decoration: none;
}

/* リンクのホバー時のスタイル */
.info-link:hover {
  text-decoration: underline;
}

/* ボタンのスタイル */
.info-button {
  display: block;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

/* ボタンのホバー時のスタイル */
.info-button:hover {
  background-color: #0056b3;
}

/* 水平方向のレイアウトを設定 */
.info-horizontal {
  display: flex;
  flex-wrap: wrap;
}

/* 水平方向のセクションのスタイル */
.info-horizontal .info-section {
  flex: 1 1 50%;
}

/* セクションのタイトルのスタイル */
.info-section h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

/* セクションのパラグラフのスタイル */
.info-section p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

/* フォーマットされたURLのスタイル */
.formatted-url {
  color: #007bff;
  text-decoration: none;
}

/* フォーマットされたURLのホバー時のスタイル */
.formatted-url:hover {
  text-decoration: underline;
}