/* フィルターパネルのコンテナ */
.filterpanel-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-panel-container {
  position: absolute;
  top: 30px;
  left: 10px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* FilterPanelのスタイル */
.filter-panel {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

/* チェックボックスのカスタマイズ */
.filter-item input[type='checkbox'] {
  display: none; /* デフォルトのチェックボックスを非表示にする */
}

.filter-item input[type='checkbox'] + .custom-checkbox {
  width: 16px;
  height: 16px;
  border: 2px solid #007bff;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.filter-item input[type='checkbox']:checked + .custom-checkbox {
  background-color: #007bff;
}

.filter-item input[type='checkbox']:checked + .custom-checkbox::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.filter-details {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.marker-color {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 8px;
}

.filter-details span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-details .area-name {
  position: relative;
  cursor: pointer;
}

.filter-details .area-name:hover::after {
  content: attr(data-fullname);
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  z-index: 10;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transform: translateY(5px); /* ツールチップの位置を微調整 */
  visibility: visible;
  opacity: 1;
}

.filter-details .area-name::after {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

/* フィルターボタンのスタイル */
.filter-button {
  padding: 5px 10px; /* ボタンを小さくする */
  font-size: 14px; /* フォントサイズを小さくする */
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #0056b3;
}
