.hamburgerMenu {
  position: fixed;
  top: 20px;
  right: 10px;
  z-index: 1001;
}

.hamburgerIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 35px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.hamburgerIcon .bar {
  width: 100%;
  height: 4px;
  background-color: #333;
  transition: all 0.3s;
}

.hamburgerIcon[aria-expanded='true'] .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburgerIcon[aria-expanded='true'] .bar:nth-child(2) {
  opacity: 0;
}

.hamburgerIcon[aria-expanded='true'] .bar:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.hamburgerIcon:focus,
.hamburgerIcon:focus-visible {
  outline: var(--focus-outline-width) solid var(--focus-outline-color);
  outline-offset: var(--focus-outline-offset);
}

.menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  width: 200px;
  border-radius: 5px;
}

.menu.open {
  display: block;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 12px 10px;
}

.menu li button {
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

.menu li button:hover {
  background-color: #f1f1f1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
