/* 全体のコンテナ */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  font-family: 'Roboto', sans-serif; /* フォントを統一 */
}

/* マップのコンテナ */
.map-container {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
}

.map-container > div {
  width: 100%;
  height: 100%;
}

/* ボタンコンテナのスタイル */
.button-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 10000;
}